<!DOCTYPE html>
<html lang="en">
<head profile="http://gmpg.org/xfn/11">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Burak Icel</title>
  <%= stylesheet_link_tag "/stylesheets/theme/bootstrap.css", "/stylesheets/theme/style.css", "/stylesheets/user-style.css", :media => 'all' %>
  <%= render 'shared/page_header' %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>


  <div class="sitename col-sm-12"> <h1><%= link_to("Burak Icel of Hobbiton", this_blog.base_url) %></h1> </div>

  <!-- 
  <div class='container' id='page'>
    <div class='col-sm-8'>
      <%= yield %>
    </div>
    <div class='col-sm-3 col-sm-offset-1' id='sidebar'>
      <%= render_sidebars %>
    </div>
  </div>

  <div id='page' class='container'>
    <div class='row'>
      <div class='span1'></div>
      <div class='span7'></div>
    </div>
  </div>
  <p style='text-align: center'><small>Powered by <a href='http://publify.co'>Publify</a> | Photo <a href='http://startupstockphotos.com/'>Startup stock photos</a></small></p> -->

</body>
</html>
